<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
	<div>
		<mat-form-field class="select-project">
			<mat-label>Select project</mat-label>
			<mat-select [compareWith]="compareProjects" (selectionChange)="changeProject($event.value)" [(ngModel)]="selectedProject">
				<mat-option *ngFor="let project of projects" [value]="project">
					{{project.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<button mat-raised-button
				color="accent"
				matTooltip="Download report with list of missing translations"
				matTooltipClass="tooltip-font"
				[disabled]="!selectedProject"
				(click)="downloadXLS()"
		>
			Download report
		</button>
	</div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-evenly start">
	<div class="app-table-wrapper">
		<app-tra-messages-table [messages]="messages"
								[selectedRowIndex]="selectedRowIndex"
								(addTranslationEvent)="addNewTranslation($event)"
								(editTranslationEvent)="editTranslation($event)"
								(sendSelectedLocale)="selectLocale($event)"
								(invalidateTranslationEvent)="invalidateTranslation($event)"
								[selectedProject]="selectedProject"></app-tra-messages-table>
	</div>

	<div *ngIf="showForm" class="form-wrapper">
		<mat-card id="form-messages" *ngIf="showForm" class="form-container mat-elevation-z4">
			<h1>{{formMode}} translation</h1>
			<form [formGroup]="messageParams">

				<mat-form-field>
			<textarea formControlName="content"
					  placeholder="Content"
					  matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  cdkAutosizeMaxRows="10"
					  required></textarea>
				</mat-form-field>

				<div class="buttons-row">
					<button class="button-spacer" mat-raised-button color="accent" type="button" [disabled]="!messageParams.valid" (click)="createTranslation(messageParams)">
						{{formMode}}
					</button>
					<button class="button-spacer" mat-button color="warn" type="button" (click)="cancelUpdate()">
						Cancel
					</button>
					<button mat-raised-button color="warn" type="button" (click)="clearForm()">
						Clear
					</button>
				</div>

			</form>
		</mat-card>
	</div>
</div>

