<mat-toolbar color="primary">
	<mat-toolbar-row>

		<button mat-icon-button
				class="menu-button"
				(click)="gotToHomepage()">
			<mat-icon>home</mat-icon>
		</button>
		<span>Translation & Internalization Manager</span>

		<span class="toolbar-spacer"></span>

		<div>{{username}}</div>
		<!--<div [hidden]="!isAuth">Logged as {{loggedAs}}</div>-->

		<button mat-icon-button [matMenuTriggerFor]="menuOptions">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menuOptions="matMenu">
			<button mat-menu-item (click)="signInButtonClicked()" *ngIf="!isLoggedIn">
				<mat-icon>account_circle</mat-icon>
				<span>Login</span>
			</button>
			<button mat-menu-item routerLink="/homepage">
				<span>Homepage</span>
			</button>
			<button mat-menu-item routerLink="/developer">
				<span>Developers</span>
			</button>
			<button mat-menu-item routerLink="/translator">
				<span>Translators</span>
			</button>
			<button mat-menu-item (click)="logoutButtonClicked()" *ngIf="isLoggedIn">
				<mat-icon>exit_to_app</mat-icon>
				<span>Logout</span>
			</button>

		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
