@import "~src/theme-variables";

tr.message-row:not(.message-expanded-row):hover {
  background: $highlight-primary;

  .mat-cell {
	color: black;
  }
}

tr.message-row:not(.message-expanded-row):active {
  background: $highlight-primary;

  .mat-cell {
	color: black;
  }
}

.message-detail {
  overflow: hidden;
  //padding: 10px;
}

tr.message-detail-row {
  height: 0;
}

.message-row td {
  border-bottom-width: 0;
}

.missing-translations {
  background: $highlight-warn;
}

.mat-cell {
  padding-right: 5px;
  padding-left: 5px;
}

.mat-header-cell {
  padding-right: 5px;
  padding-left: 5px;
}

table {
  width: 99%;
  margin: auto;
}

th {
  font-size: 18px;
  font-weight: bold;
}

.table-container {
  min-height: 50px;
  margin: 5px;
}

.filter-paginator-wrapper {
  margin-left: 12px;
  margin-top: 5px;
  display: flex;
}

.warning {
  color: $warn;
}

.spacer {
  flex: 1 1 auto;
}

.select-locale {
  margin-right: 10px;
}

.padding-inside {
  padding: 10px;
}
