<div class="filter-paginator-wrapper">
	<div *ngIf="selectedProject !== null" class="select-locale">
		<mat-form-field>
			<mat-label>Select locale</mat-label>
			<mat-select (selectionChange)="selectLocale($event.value)">
				<mat-option *ngFor="let locale of selectedProject.targetLocales" [value]="locale.locale">
					{{locale.locale}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<span class="spacer"></span>
	<div>
		<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
	</div>
</div>
<div class="table-container mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

		<ng-container matColumnDef="key">
			<th mat-header-cell *matHeaderCellDef>Key</th>
			<td mat-cell *matCellDef="let message">{{message.key}}</td>
		</ng-container>

		<ng-container matColumnDef="updateDate">
			<th mat-header-cell *matHeaderCellDef>Update date</th>
			<td mat-cell *matCellDef="let message">{{message.updateDate | date:'dd.MM.yyyy HH:mm'}}</td>
		</ng-container>

		<ng-container matColumnDef="content">
			<th mat-header-cell *matHeaderCellDef>Content</th>
			<td mat-cell *matCellDef="let message">{{message.content | shorten: [60, '...']}}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let message">
				<p>
					<button mat-button color="primary" (click)="addTranslation(message)" *ngIf="!selectedLocale || !message.translation">
						<mat-icon>add</mat-icon>
						Add translation
					</button>
					<button mat-button (click)="updateTranslation(message)" *ngIf="selectedLocale && message.translation">
						<mat-icon>update</mat-icon>
						Update translation
					</button>
					<button mat-button color="warn" (click)="invalidateTranslation(message)" *ngIf="selectedLocale && message.translation && message.translation.isValid">
						<mat-icon>highlight_off</mat-icon>
						Invalidate translation
					</button>

				</p>
			</td>
		</ng-container>

		<ng-container matColumnDef="messageDetails">
			<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
				<div class="message-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
					<div class="padding-inside">

						<div *ngIf="selectedLocale === null">
							<p>
								<strong>Message:</strong> {{row.content}}
							</p>
							<p>
								<strong>Description: </strong> {{row.description}}
							</p>
							<p>
								Select locale to see translations.
							</p>
						</div>

						<div *ngIf="selectedLocale !== null ">
							<p>
								<strong>Message:</strong> {{row.content}}
							</p>
							<p>
								<strong>Description: </strong> {{row.description}}
							</p>
							<p *ngIf=" row.translation !== null && !isTranslationOutdated(row)">
								<strong>Last updated: </strong> {{row.translation.updateDate | date:'dd.MM.yyyy HH:mm' }}
							</p>
							<p *ngIf="isTranslationOutdated(row)" class="warning">
								Translation is outdated.
							</p>
							<p *ngIf="isTranslationOutdated(row)">
								<strong>Previous message content: </strong> {{row.previousMessageContent}}
							</p>
							<p *ngIf="row.translation !== null && !row.translation.isValid" class="warning">
								Translation has been invalidated.
							</p>
							<p *ngIf="row.translation !== null && row.translation !== undefined ">
								<strong>Translation: </strong> {{row.translation.content}}
							</p>

							<p *ngIf="row.translation === null" class="warning">
								<strong>Translation: </strong> none.
							</p>
							<p *ngIf="row.substitute">
								<strong>Substitute from locale {{row.substitute.locale}}:</strong> {{row.substitute.content}}
							</p>

						</div>
					</div>

				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"
			class="message-row"
			[ngClass]="{'highlight': selectedRowIndex == row.id, 'highlight-accent': expandedRow == row }"
			[class.message-expanded-row]="expandedRow === row"
			(click)="expandedRow = expandedRow === row ? null : row"></tr>
		<tr mat-row *matRowDef="let row; columns: ['messageDetails']" class="message-detail-row"></tr>

	</table>
</div>
<app-nothing-found [nothingFound]="messages.length == 0 && !isLoadingResults" [message]="'Select project to see messages.'"></app-nothing-found>
